html,
body {
    font-family: 'Dosis', sans-serif;
    /* padding: 50px 139px 0px 85px; */
    margin: 0 0 0 0;
    /* border: 2px solid red; */
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}


h1 {
    font-size: 65px;
    margin: 0 0 0 0;
}

h2 {
    font-size: 40px;
    margin: 0 0 0 0;
}

h3 {
    font-size: 20px;
    margin: 0 0 0 0;
}

h4 {
    font: 18px;
    margin: 0 0 0 0;
}

h5 {
    font-size: 16px;
    margin: 0 0 0 0;
}

.header-container {
    /* border: 2px solid black; */
    border-radius: 30px;
    display: flex;
    justify-content: center;
    justify-content: space-between;
    background-color: blue;
    overflow: hidden;
    height: 646px;
    width: auto;
    /* width: 1321px; */
    margin: 50px 139px 130px 140px;

}

.header-left {
    color: black;
    width: 50%;
    height: 424px;
    /* border: 2px solid red; */
    display: flex;
    margin: 111px 24px 111px 106px;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
}

/* .header-left-button {
    border: 2px solid black;
} */

.header-left-button button {
    /* border: 2px solid red; */
    height: 56px;
    width: auto;
    background-color: black;
    color: white;
    font-family: 'Dosis', sans-serif;
    border-radius: 10px 10px 10px 10px;

}

.header-left-button button:hover {
    cursor: pointer;
    color: black;
    background-color: white;
    /* animation: legend 5s ease-in-out 0.5s 1 forwards; */
}

.header-left-title {
    font-size: 65px;
    height: 240px;
    width: auto;
    margin-bottom: 20px;
    /* overflow: hidden; */
    /* border: 2px solid white; */
}

.header-left-subtitle {
    width: auto;
    height: 60px;
    /* border: 2px solid yellow; */
    margin-bottom: 30px;
}

.header-right {
    width: 50%;
    height: 613px;
    /* border: 2px solid red; */
    margin: 33px 79px 0px 0px;

}

.header-right img,
.messi {
    /* border: 2px solid green; */
    width: 100%;
    height: 105%;
}

/* .animation {
    position: relative;
    visibility: inherit;
    bottom: 765px;
    z-index: -1;
}

.animation:hover {
    visibility: visible;
} */

.middlepart {
    /* border: 2px solid red;
    display: flex;
    justify-content: center;
    justify-content: space-around;
    column-gap: 24px;
    margin-bottom: 130px; */
    /* border: 2px solid yellow; */
    display: flex;
    justify-content: center;
    justify-content: space-between;
    /* column-gap: 5%; */
    margin: 0px 136px 130px 141px;
    width: 80%;
    height: 450px;

}

.menu {
    /* border: 2px solid red; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-content: space-between;
    padding: 25%;
    background-color: blue;
    border-radius: 10px;
    align-items: center;
    width: 220%;
    height: 60%;
    row-gap: 10%;
}

.squadgrid {
    /* border: 2px solid gray; */
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    row-gap: 5%;
    column-gap: 5%;
    justify-content: center;
    justify-content: space-between;
    width: auto;
    height: 100%;
}

.fixture-box {
    padding: 53px 30px;
    width: auto;
    height: auto;
    /* border: 2px solid blue; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    row-gap: 2%;
    box-shadow: 0.5px 0.5px 3px 0.1px gray;
    background-color: black;
    border-radius: 5px 5px 5px 5px;
    color: white;

}

.schedules,
.Stats,
.Updates {
    width: 80%;
    /* border: 2px solid red; */
}

.Updates button,
.Stats button {
    width: 100%;
    height: 64px;
    border-radius: 10px;
    background-color: white;
    color: black;
}

.schedules button {
    width: 100%;
    height: 64px;
    border-radius: 10px;
    background-color: black;
    color: white;
}

.Updates button:hover,
.Stats button:hover {
    background-color: black;
    color: white;
    cursor: pointer;
}

.fixture-box:hover {
    cursor: pointer;
    background-color: cyan;
    color: black;
}

.flag-section {
    /* border: 2px solid red; */
    display: flex;
    justify-content: center;
    justify-content: space-between;
    align-items: center;
}

.team {
    /* border: 0.5px solid white; */
    height: 56px;
    width: 40%;
}

.team img {
    width: 100%;
    height: 100%;
}

.info-box {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    /* border: 2px solid blue; */
}


.info-box h5 {
    color: gray;
}


.description {
    margin-left: 5px;
}

.footer {
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: black;
    width: 100%;
    height: 444px;
    color: white;
    text-align: center;
    row-gap: 50px;
    padding: 80px auto;
}

.footer hr {
    width: 80%;
    height: 0.5px;
    background-color: rgb(232, 232, 232, 0.3);
}

.footer-text {
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
}

.footericons {
    display: flex;
    justify-content: center;
    column-gap: 20px;
}

.footericons:hover {
    cursor: pointer;
}